:root {
  font-family: Lato, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  --color-blue-darker: #0069b4;
  --color-blue-brighter: #58b6d7;
  --color-blue-paler: #90a2b5;
  --color-blue-light: #f6f8fa;
  --color-black-100: #1f2432;
  --color-black-200: #212121;
  --color-black-300: #2c3242;
  --color-black-400: #33374e;
  --color-gray-100: #797b86;
  --color-gray-200: #9d9d9c;
  --color-gray-300: #aeb0b6;
  --color-gray-400: #c4c4c4;
  --color-white: #ffffff;

  --c-text: var(--color-black-100);
  --c-dark-text: var(--color-black-400);
  --c-middle-text: var(--color-gray-100);
  --c-light-text: var(--color-gray-400);
  --c-accent: var(--color-blue-darker);
  --c-medium-bg: var(--color-blue-light);
  --c-bg: var(--color-white);

  color: var(--c-text);
  background-color: var(--c-bg);
}

body {
  position: relative;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

#app {
  margin: 0 auto;
  padding: 18px 80px;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  #app {
    padding: 18px 40px;
  }
}

@media (max-width: 425px) {
  #app {
    padding: 18px 20px;
  }
}
